.pioenvs
.clang_complete
.gcc-flags.json
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
Visual Micro/
*.atsln
*.atsuo
*.cppproj
.metadata/
RemoteSystemsTempFiles/
.projecthtml/
html/
__vm/
*.sln
*.vcxproj
*.filters
~$*.docx
.project
hmkey.h